.induction-image {
    max-width: 200px;
    width: 100%;
    padding-top: 80px;
}

.induction-content {
    max-width: 560px;
    margin: auto;
}

.induction-page-title {
    margin-top: 60px;
}

.induction-page-sub-title {
    margin-top: 18px;
}

