/* font-weight: 500; Medium */
/* font-weight: 400; Regular */

/* blue: #0986FA */
/* text color: #293756*/

.liveselfie-container {
    font-family: "Avenir Next", Verdana, serif;
}

.page-wrap {
    max-width: 760px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around;
    animation: 0.25s ease-out 0s 1 slideUpFromBottom;
}

.custom-loading-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white-bg {
    background: rgba(255, 255, 255, 1);
}

.loading-overlay p {
    margin-top: 20px;
    color: white;
}

.loading-overlay p.blue {
    color: #293756;
}

.progress-instructions-title {
    text-align: center;
}

.progress-instructions-subtitle {
    text-align: center;
}

.mobile-liveliness-status {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

.camera-preview-area-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.webcam {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.selfie {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    z-index: 200;
}

.selfie-button {
    padding: 0 10px;
    width: 100%;
}

.document-image {
    border-radius: 25px;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg); /* Safari and Chrome */
    -moz-transform: rotateY(0deg); /* Firefox */
    z-index: 200;
}

.status {
    font-size: 14px;
    font-weight: 500;
}

.hint {
    font-size: 14px;
    font-weight: 400;
}

@keyframes slideUpFromBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.full-page {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-video-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.camera-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.camera-status-area {
    opacity: 0;
    transition: all 0.125s ease;
}

.camera-status-area.show {
    opacity: 1;
}

.button-container {
    display: flex;
    margin: 20px auto;
    opacity: 1;
    transition: all 0.125s ease;
    width: 100%;
}

.button-container.mobile {
    flex-direction: column;
}

.button-container a {
    min-width: 45%;
    max-width: 300px;
    /*margin-top: 36px;*/
}

.spacer {
    width: 36px;
}

.button-container.hide_footer {
    opacity: 0;
    pointer-events: none;
}

.margin-auto {
    margin: auto;
}

#videoContainer {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
video {
    /*height: 100%;*/
}

*:focus {
    outline: none;
}


.hide {
    opacity: 0;
    position: fixed;
    left: -500px;
    top: -500px;
}
