.progress-bar {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    height: 30px;
}

.video-canvas {
    position: absolute;
    z-index: 1;
}

.progress-step-container {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: relative;
}

.progress-line {
    height: 2px;
    margin: 0 20px;
    position: relative;
    width: 100%;
    min-width: 96px;
    background: #bccedf;
}
@media only screen and (max-width: 1023px) /* medium */ {
    .progress-line {
        min-width: 26px;
    }
}

.progress-line.on-color {
    background: #fff;
}

.progress-step {
    position: relative;
    box-sizing: border-box;
    min-width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f7f9;
    color: #bccedf;
    border: 2px solid;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 12px;
}

.progress-step.on-color {
    background: #f2f7f9;
    color: #8a96aa;
    border: 2px solid #fff;
}

.progress-step.completed {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 28px 28px;
    border: 0 solid #bccedf;
}

.progress-step.on-color.completed {
    background-size: 28px 28px;
    background-repeat: no-repeat;
}

.progress-step.completed + .progress-line {
    background: #0986fa;
}

.progress-step.completed + .progress-line.on-color {
    background: #fff;
}

.progress-step.current {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 28px 28px;
    border: 0 solid #bccedf;
}

.progress-step.on-color.current {
}

.progress-step-container:last-child .progress-line {
    display: none;
}

